@prefix: login;

.@{prefix}{
  width: 100%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  &-content{ 
    width: 368px;
    margin: 110px auto;
    h1{
      font-size: 33px;
      margin-bottom: 0;
    }
    img {
      height: 44px;
      margin-right: 8px;
    }
  }
  &-description {
    color: #999;
    margin: 12px 0 24px;
  }
}